.table
{
  margin-left: auto;
  margin-right: auto;
  border: 20px;
  
 
}
.tin
{
  border-right: solid 4px green; 
  border-left: solid 4px green;
}
.tableheader
{
  text-align: center;
  margin-left: auto;
}